body {
    background-color: #F5F5F5;
    font-family: 'DM Sans', sans-serif;
}

p, a, h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Sans', sans-serif;
}

.loading-text {
    text-align: center;
}

.navbar {
    -webkit-box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.05);
    box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.05);
}

.title {
    min-width: 220px;
}

input {
    border: 1px solid #D2D2D2;
    padding: 5px 5px 2px 8px;
    height: 36px;
    background-color: white;
    border-radius: 4px;
    font-size: 0.9rem;
    margin-left: 4px;
    align-self: flex-end;
}

.btn-primary {
    background-color: white;
    font-size: 0.9rem;
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    text-transform: capitalize;
    color: black;
}

.navbar .btn-primary {
    margin-right: 8px;
}

.navbar-collapse {
    display: inline-block;
    flex-wrap: wrap;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-right: 12px;
    max-width: 850px;
}

.col-xs-8 p {
    margin: 0;
}

#reset-button {
    color: white;
    background-color: black;
    margin-right: 40px;
}

.no-results {
    padding: 40px 20px 20px 20px;
    text-align: center;
}

.row.description {
    align-items: center;
    justify-content: flex-start;
}

.subtitle {
    font-style: italic;
}

.filter-bar {
    padding: 16px 16px 0px 16px;
    max-width: 900px;
    margin: auto;
}

.filter-menu-hidden, .hidden-menu {
    display: none;
}

.card {
    background-color: #f5f5f5;
    border: #f5f5f5 solid 2px;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border-radius: 30px;
}

.card:hover {
    background-color: #DFDFDF;
}

.card h6 {
    padding: 5px 5px 5px 5px;
    color: black;
}

.bug-image, .fish-image {
    margin: auto;
    width: 100%;
}

@media screen and (min-width: 400px) and (max-width: 999px) {
    .modal-content img {
        height: 200px;
    }
    .row.description {
        height: 195px;
    }
}

@media screen and (min-width: 1300px) {
    .list.row {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 1299px) and (min-width: 800px) {
    .list.row {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    .btn-group-toggle {
        width: inherit;
    }
}

@media screen and (max-width: 799px) and (min-width: 580px) {
    .list.row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 0px 50px 0px 50px;
    }

    .search-bar .btn-primary {
        margin-right: 15px;
    }

    .search-bar .btn-group .btn-primary {
        margin-right: 0px;
    }
    .search-bar .btn-group {
        margin-right: 15px;
    }
}

@media screen and (max-width: 579px) and (min-width: 360px) {
    .list.row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 359px) {
    .list.row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 0px 10px 0px 10px;
    }
    p {
        font-size: 0.8rem;
    }
    #label {
        font-size: 0.7rem !important;
    }
    .header h4 {
        font-size: 1rem;
    }
    .modal-body {
        padding: 0;
    }
    .modal-content img {
        width: 190px;
    }
    .row .description {
        height: auto;
    }
    .modal-content .col-xs-4 {
        padding-right: 10px !important;
    }
}

.modal-content img {
    width: 100%;
    object-fit: contain;
    padding: 10px 10px 10px 10px;
}

.modal-content .col-lg-5 {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
}

.modal-content .col-lg-7 {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: -1px;
}

.modal-content .row {
    margin-left: 0px;
    margin-right: 0px;
}

.critter-name {
    font-size: 0.8rem;
    text-transform: capitalize;
}

.popup-info {
    display: block;
}

.modal-content .col-xs-4 {
    padding-right: 30px;
    padding-top: 2px;
}

.header, .description {
    padding: 15px 15px 15px 15px;
}

.header h4 {
    text-transform: capitalize;
}

#label {
    font-size: 0.9rem;
    margin-top: 1px;
    margin-bottom: 3px;
    font-weight: 500;
}

#close-button {
    margin: 10px auto;
    border: none;
    color: #007bff;
}

#close-button:hover {
    background-color: white;
}

#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 30px;
    background-color: white;
    color: white;
    -webkit-box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.05);
    box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.05);
}

#scroll-to-top .emoji {
    font-size: 1.5rem;
}

.filtered-list {
    padding: 130px 40px 40px 40px;
    max-width: 1000px;
    margin: auto;
}
