.btn-primary.focus {
    box-shadow: none;
}

body {
    background-color: #FAFAFA;
    /** cursor: url('./fishingrod.png'), auto; **/
}

#app {
    width: 80%;
}

#title {
    font-size: 5rem;
    padding: 60px 20px 20px 20px;
    text-transform:uppercase;
    font-family: 'Rubik Mono One', sans-serif;
    margin-left: -25px;
}

#intro {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2.5rem;
    margin-left: -9px;
}

#dropdown-basic-button {
    margin-left: 5px;
    margin-right: 5px;
}

#list {
    margin-left: -23px;
    margin-bottom: 60px;
}

.cardold {
    width: 15rem;
    margin: 10px 10px 10px 10px;
}

.card {
    width: 15rem;
    margin: 10px 10px 10px 10px;
    background-color: white;
    border: black solid 1px;
    border-radius: 0px;
}

.card:hover {
    background-color: #FFF89C;
}

.cardheader {
    background-color: white;
    border-bottom: 1px solid black;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
}

.badgeold {
    margin: 0px 5px 0px 0px;
    background-color: #ABABAB;
}

.badge {
    margin: 0px 6px 0px 0px;
    color:black;
    background-color: white;
    /*background-color: #EBF3F6;*/
    border: black solid 1px;
}

#searchdiv {
    padding-top: 10px;
    padding-bottom: 10px;
}

#searchbarold {
    width: 660px;
    font-size: 18px;
}

#searchbar {
    width: 660px;
    font-size: 30px;
    padding: 5px 5px 5px 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: black solid 1px;
    outline: none;
    background-color: #FAFAFA;
    margin: 20px 0px 20px 0px;
    font-family: 'Rubik Mono One', sans-serif;
}

#buttonbar {
    margin: 10px 0px 20px -20px;
}

#dropdown-basic-button {
    background-color: white;
    color: black;
    border-radius: 0px;
    border: black solid 1px;
}

#resetbutton {
    margin-left: 10px;
    background-color: black;
    color: white;
    border-radius: 0px;
    border: black solid 1px;
}

#searchbar[type=text] {
  transition: width 0.4s ease-in-out;
}

#searchbar[type=text]:focus {
}
