body {
    background-color: #ECE8E2;
}

h6 {
    margin-bottom: 0px;
}

.no-results {
    font-family: 'Marcellus', serif;
    padding: 40px 20px 20px 20px;
    text-align: center;
}

#root h4 {
    font-family: 'Marcellus', serif;
}

p {
    font-family: 'Crimson Pro', serif;
    margin-bottom: 0px;
}

.emoji {
    margin-right: 5px;
}

.subtitle {
    font-style: italic;
    font-weight: bold;
}


.app .row {
    justify-content: center;
    align-content: center;
}

.about {
    display: flex;
    justify-content: flex-end;
}

.about .btn-primary {
    margin: 10px 10px 10px 10px;
}

.about-page {
    position: static;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: block;
    text-align: center;
}

.about-div {
    margin-top: 35vh;
}

.about-div p {
    padding: 2px 10px 2px 10px;
}

.about-div .subtitle {
    margin-top: 15px;
    margin-bottom: 15px;
}

#home-button {
    background-color: white;
}

#about-button {
    background-color: #ECE8E2;
}

#wave {
    margin-left: 3px;
}

.hidden-page {
    display: none;
}

#title {
    font-family: 'Marcellus', serif;
    padding: 20px 0px 40px 0px;
}

@media screen and (min-width: 800px) {
    #title {
        font-size: 3.5rem;
    }
}
@media screen and (max-width: 799px) {
    #title {
        font-size: 5.5vw;
    }
}

.filter-bar {
    padding: 10px 10px 10px 10px;
    width: 80%;
    margin: auto;
    border-radius: 0.25em;
}

.btn-group {
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: none !important;
}

.filter-menu-hidden, .hidden-menu {
    display: none;
}

#active-menu {
    background-color: #A29D95;
}

.btn-primary {
    font-family: 'Marcellus', serif;
    background-color: #D8D1C7;
    border: none;
    color: black;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:hover  {
    background-color: #A29D95;
    border-color: black;
    color: black;
}

.btn-group-toggle .btn-primary {
    border-radius: 18px !important;
    margin: 10px 5px 10px 5px;
}

.top-button-bar .btn-primary {
    margin: 0px 10px 20px 10px;
}

.selectedMenu .btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input {
    font-family: 'Marcellus', serif;
    margin-left: 20px;
    margin-right: 20px;
    border: 0px;
    padding: 5px 5px 5px 8px;
    height: 36px;
    background-color: #D8D1C7;
    border-radius: 0.25em;
}

input:focus {
    background-color: #C2BCB3;
    outline: none;
}

.dropdown-menu {
    background-color: #D8D1C7;
    font-family: 'Marcellus', serif;
    border: none;
}

.dropdown-item:hover {
    background-color: #A29D95;
}

#reset-button {
    color: white;
    background-color: black;
}

.list {
    padding: 20px 20px 20px 20px;
}

.card {
    background-color: #ECE8E2;
    border: #ECE8E2 solid 2px;
    text-align: center;
    padding: 5px 5px 5px 5px;
}

.card:hover {
    background-color: #D8D1C7;
    border-radius: 5px;
}

.card h6 {
    font-family: 'Marcellus', serif;
    padding: 5px 5px 5px 5px;
}


.bug-image, .fish-image {
    margin: auto;
}

.modal-content {
    background-color: #ECE8E2;
    border: 0px;
}

.modal-content .container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header h4 {
    font-family: 'Marcellus', serif;
}

.modal-content img {
    width: 100%;
    object-fit: contain;
    padding: 10px 10px 10px 10px;
}

.modal-content .col-lg-5 {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
}

.modal-content .col-lg-7 {
    padding-left: 0px;
    padding-right: 0px;
    border-left: solid black 1px;
    margin-left: -1px;
}

.modal-content .row {
    margin-left: 0px;
    margin-right: 0px;
}

.critter-popup {
    border: solid black 1px;
}

.popup-info {
    display: block;
}

.modal-content .col-xs-4 {
    padding-right: 20px;
}

.header, .description {
    padding: 15px 15px 15px 15px;
}

.header {
    margin-top: -1px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

#label {
    font-family: 'Marcellus', serif;
    font-size: 0.9rem;
    margin-top: 2px;
    margin-bottom: 3px;
}

.notes {
    padding: 15px 15px 15px 15px;
    border-top: solid black 1px;
}

#close-button {
    margin: auto;
    background-color: #ECE8E2;
}

#home-button, #about-button, #close-button {
    border-bottom: solid black 1px;
    border-radius: 0px;
    padding: 0px 0px 0px 0px;
    margin-bottom: 3px;
}

#home-button, #about-button {
    margin: 20px 20px 20px 20px;
}

#footer {
    padding: 60px 30px 60px 30px;
    text-align: center;
}

.about-div a {
    color: black;
}

.about-div a:hover {
    text-decoration: none;
    color: #92897F;
}

#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 30px;
    background-color: white;
    color: white;
}

#scroll-to-top .emoji {
    font-size: 1.5rem;
}
